<%= form_with(model: vm, local: true) do |form| %>
  <% if vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vm.errors.count, "error") %> prohibited this vm from being saved:</h2>

      <ul>
        <% vm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cpu_count %>
    <%= form.number_field :cpu_count %>
  </div>

  <div class="field">
    <%= form.label :memory %>
    <%= form.text_field :memory %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
